<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rebit.ui5.hybrid" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Fiori Application</name>
    <description>Fiori Application</description>
    <author email="test@test" href="https://cordova.apache.org">
       Test team
    </author>
    <!-- <Icon src="" -->
    <icon src="./www/img/logo.png"></icon>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
